body {
    background-color: #f2f2f2;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #d6efc7;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    /* border-bottom: 1px solid #888888; */
}

.upload {
    text-align: center;
}

#main {
    width: 100%;
}

h1 {
    text-align: center;
    font-family: "MuseoModerno", cursive;
    color: #888888;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #888888;
}

.cat-icon {
    height: 30px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-border {
    border: 1px solid #888888;
    padding: 10px;
    margin: 10px;
    background-color: #ffffff;
}

a {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: black;
}

a img {
    width: 350px;
    height: 350px;
    object-fit: cover;
}

p {
    text-align: center;
    font-family: "Roboto", sans-serif;
}

button.more {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
}

.post-comment form {
    padding: 25px 0 25px;
    text-align: center;
    display: flex;
    align-items: center;
}

input {
    border-radius: 10px;
    border: 1px solid #888888;
    text-align: center;
    margin: 10px;
}

.file {
    background-color: white;
}

button {
    border-radius: 10px;
    border: 1px solid #888888;
    background-color: white;
    color: #888888;
    height: 1.5em;
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(136, 136, 136, 0.5);
}

.modal-content {
    position: relative;
    height: 80%;
    width: 70%;
    background-color: #d6efc7;
    display: flex;
    align-items: center;
    z-index: 10;
    border: 1px solid #888888;
    padding: 15px;
}

.modal-image {
    font-family: "Roboto", sans-serif;
    color: #888888;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.modal-image p {
    font-size: 13px;
}

.modal-content img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border: 1px solid #888888;
    padding: 10px;
    background-color: white;
}

.comments-container {
    position: absolute;
    top: 120px;
    right: 100px;
}

.comments {
    margin-top: 30px;
}

.close {
    position: absolute;
    right: 20px;
    top: 0;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: #888888;
    cursor: pointer;
}

h3 {
    font-family: "Roboto", sans-serif;
    color: #888888;
    text-align: center;
    margin: 0;
}

h4 {
    font-family: "Roboto", sans-serif;
    color: #888888;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid #888888;
}

h5 {
    font-family: "Roboto", sans-serif;
    color: #888888;
    text-align: center;
}

.comment {
    background-color: white;
    border: 1px solid #888888;
    margin-bottom: 5px;
}

.comment p {
    font-family: "Roboto", sans-serif;
    color: #888888;
    font-size: 10px;
}
